body{
    font-family: 'Roboto', sans-serif;
}

.flex-container{
    display: flex;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
    margin-right: 20px;
}

.flex-4{
    flex: 4;
}

.nav{
    background-color: #333333;
    color: white;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    margin-left: 20px;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    width: 50%;
    justify-content: space-between;
}

.nav a{
    color: white;
    text-decoration: none;
}

.btn{
    height: 35px;
    width: 100px;
    background-color: indianred;
    color: white;
    font-size: 17px;
    border: none;
    box-shadow: 5px 5px black;
    margin-right: 20px;
    border-radius: 5px;
}

.profile-body{
    padding-top: 20px;
    padding-right: 125px;
    padding-left: 125px;
}

.user-card{
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
}

.card-header{
    background-color: indianred;
    height: 75px;
    margin-bottom: 20px;
}

.user-avatar{
    background-color: white;
    border-radius: 50%;
    height: 100px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.avatar{
    border-radius: 50%;
    height: 30px;
    margin-bottom: 20px;
    margin-right: 10px; 
}

.card-body{
    padding: 20px 20px 0px 20px;
}

.card-body h2,
.card-body h3,
.card-body p{
    margin: 20px 0px;
}

.icon{
    height: 20px;
    padding-right: 5px;
}

.column-header{
    padding-left: 20px;
    background-color: #333333;
    height: 50px;
    align-items: center;
}

.column-header h3{
    color: white;
    border-radius: 5px;
}

.column-body{
    border: 2px solid #999;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
}

.column-body h4{
    color: gray;
}

.column-body-a{
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid #999;
    border-radius: 5px;
}

.column-body-b{
    padding: 20px;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
}

.circle{
    border-radius: 50%;
    height: 30px;
    margin-right: 20px;
}

.name{
    margin-top: 0px;
    margin-bottom: 30px;
}

.column-body h3{
    margin-top: 0px;
}

.connection{
    margin-top: 0px;
    margin-bottom: 33px;
}

